//
//  Copyright © 2018 Itty Bitty Apps Pty Ltd. All rights reserved.
//

SUPPORTED_PLATFORMS                    = macosx iphonesimulator iphoneos
VALID_ARCHS[sdk=macosx*]               = x86_64
VALID_ARCHS[sdk=iphoneos*]             = arm64
VALID_ARCHS[sdk=iphonesimulator*]      = x86_64

// Dynamic linking uses different default copy paths. Reset LD_RUNPATH_SEARCH_PATHS for each SDK.
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]           = '@executable_path/../Frameworks' '@loader_path/../Frameworks'
LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*]         = '@executable_path/Frameworks' '@loader_path/Frameworks'
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*]  = '@executable_path/Frameworks' '@loader_path/Frameworks'

IPHONEOS_DEPLOYMENT_TARGET = 11.0
MACOSX_DEPLOYMENT_TARGET = 10.13
